/* *, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  font-family:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role='button'] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden='until-found'])) {
  display: none;
}

.pointer-events-none {
  pointer-events: none;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.inset-x-0 {
  left: 0px;
  right: 0px;
}

.inset-x-4 {
  left: 1rem;
  right: 1rem;
}

.-right-6 {
  right: -1.5rem;
}

.-right-8 {
  right: -2rem;
}

.-top-12 {
  top: -3rem;
}

.-top-16 {
  top: -4rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-4 {
  bottom: 1rem;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.left-3 {
  left: 0.75rem;
}

.left-4 {
  left: 1rem;
}

.right-0 {
  right: 0px;
}

.right-24 {
  right: 6rem;
}

.right-3 {
  right: 0.75rem;
}

.right-9 {
  right: 2.25rem;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-3 {
  top: 0.75rem;
}

.top-4 {
  top: 1rem;
}

.top-9 {
  top: 2.25rem;
}

.top-\[calc\(100\%\+8px\)\] {
  top: calc(100% + 8px);
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-\[1000\] {
  z-index: 1000;
}

.z-\[1\] {
  z-index: 1;
}

.z-\[400\] {
  z-index: 400;
}

.z-\[900\] {
  z-index: 900;
}

.z-\[950\] {
  z-index: 950;
}

.z-\[999\] {
  z-index: 999;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.m-0 {
  margin: 0px;
}

.m-\[28px\] {
  margin: 28px;
}

.mx-1\.5 {
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.mb-1\.5 {
  margin-bottom: 0.375rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-14 {
  margin-bottom: 3.5rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-2\.5 {
  margin-bottom: 0.625rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-3\.5 {
  margin-bottom: 0.875rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-7 {
  margin-bottom: 1.75rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[110px\] {
  margin-bottom: 110px;
}

.mb-\[14px\] {
  margin-bottom: 14px;
}

.mb-\[18px\] {
  margin-bottom: 18px;
}

.mb-\[22px\] {
  margin-bottom: 22px;
}

.mb-\[26px\] {
  margin-bottom: 26px;
}

.mb-\[30px\] {
  margin-bottom: 30px;
}

.mb-\[38px\] {
  margin-bottom: 38px;
}

.mb-\[72px\] {
  margin-bottom: 72px;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-16 {
  margin-left: 4rem;
}

.ml-\[calc\(50\%-50vw\)\] {
  margin-left: calc(50% - 50vw);
}

.ml-auto {
  margin-left: auto;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-0 {
  margin-top: 0px;
}

.mt-0\.5 {
  margin-top: 0.125rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mt-14 {
  margin-top: 3.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[0\.55em\] {
  margin-top: 0.55em;
}

.mt-\[60px\] {
  margin-top: 60px;
}

.mt-\[70px\] {
  margin-top: 70px;
}

.mt-\[7px\] {
  margin-top: 7px;
}

.mt-\[9px\] {
  margin-top: 9px;
}

.mt-auto {
  margin-top: auto;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.aspect-\[16\/9\] {
  aspect-ratio: 16/9;
}

.aspect-\[3\/4\] {
  aspect-ratio: 3/4;
}

.aspect-\[4\/3\] {
  aspect-ratio: 4/3;
}

.aspect-\[4\/5\] {
  aspect-ratio: 4/5;
}

.h-1\.5 {
  height: 0.375rem;
}

.h-11 {
  height: 2.75rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-2\.5 {
  height: 0.625rem;
}

.h-3 {
  height: 0.75rem;
}

.h-4 {
  height: 1rem;
}

.h-6 {
  height: 1.5rem;
}

.h-60 {
  height: 15rem;
}

.h-7 {
  height: 1.75rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[1\.5px\] {
  height: 1.5px;
}

.h-\[100dvh\] {
  height: 100dvh;
}

.h-\[16px\] {
  height: 16px;
}

.h-\[20px\] {
  height: 20px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[26px\] {
  height: 26px;
}

.h-\[320px\] {
  height: 320px;
}

.h-\[360px\] {
  height: 360px;
}

.h-\[3px\] {
  height: 3px;
}

.h-\[42px\] {
  height: 42px;
}

.h-\[52vh\] {
  height: 52vh;
}

.h-\[5px\] {
  height: 5px;
}

.h-\[calc\(100vh-56px\)\] {
  height: calc(100vh - 56px);
}

.h-full {
  height: 100%;
}

.max-h-\[920px\] {
  max-height: 920px;
}

.min-h-\[340px\] {
  min-height: 340px;
}

.min-h-\[560px\] {
  min-height: 560px;
}

.w-0 {
  width: 0px;
}

.w-1\.5 {
  width: 0.375rem;
}

.w-11 {
  width: 2.75rem;
}

.w-12 {
  width: 3rem;
}

.w-14 {
  width: 3.5rem;
}

.w-3 {
  width: 0.75rem;
}

.w-4 {
  width: 1rem;
}

.w-7 {
  width: 1.75rem;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-\[150px\] {
  width: 150px;
}

.w-\[2\.5px\] {
  width: 2.5px;
}

.w-\[22px\] {
  width: 22px;
}

.w-\[26px\] {
  width: 26px;
}

.w-\[35\%\] {
  width: 35%;
}

.w-\[3px\] {
  width: 3px;
}

.w-\[4\.5em\] {
  width: 4.5em;
}

.w-\[400px\] {
  width: 400px;
}

.w-\[42px\] {
  width: 42px;
}

.w-\[5px\] {
  width: 5px;
}

.w-\[7\.5em\] {
  width: 7.5em;
}

.w-\[88\%\] {
  width: 88%;
}

.w-\[9\.5em\] {
  width: 9.5em;
}

.w-auto {
  width: auto;
}

.w-full {
  width: 100%;
}

.w-max {
  width: -moz-max-content;
  width: max-content;
}

.w-px {
  width: 1px;
}

.w-screen {
  width: 100vw;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-\[110px\] {
  min-width: 110px;
}

.max-w-\[1000px\] {
  max-width: 1000px;
}

.max-w-\[1320px\] {
  max-width: 1320px;
}

.max-w-\[340px\] {
  max-width: 340px;
}

.max-w-\[34ch\] {
  max-width: 34ch;
}

.max-w-\[560px\] {
  max-width: 560px;
}

.max-w-\[620px\] {
  max-width: 620px;
}

.max-w-\[640px\] {
  max-width: 640px;
}

.max-w-\[720px\] {
  max-width: 720px;
}

.max-w-\[760px\] {
  max-width: 760px;
}

.max-w-\[840px\] {
  max-width: 840px;
}

.max-w-\[900px\] {
  max-width: 900px;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-none {
  flex: none;
}

.shrink-0 {
  flex-shrink: 0;
}

.origin-center {
  transform-origin: center;
}

.origin-left {
  transform-origin: left;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.-translate-y-\[6px\] {
  --tw-translate-y: -6px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.translate-x-0 {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.translate-x-1 {
  --tw-translate-x: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.translate-y-\[6px\] {
  --tw-translate-y: 6px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.-rotate-3 {
  --tw-rotate: -3deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.-rotate-45 {
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.scale-0 {
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.scroll-mt-24 {
  scroll-margin-top: 6rem;
}

.scroll-mt-6 {
  scroll-margin-top: 1.5rem;
}

.list-none {
  list-style-type: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-\[1\.15fr_0\.85fr\] {
  grid-template-columns: 1.15fr 0.85fr;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.gap-0\.5 {
  gap: 0.125rem;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-1\.5 {
  gap: 0.375rem;
}

.gap-10 {
  gap: 2.5rem;
}

.gap-11 {
  gap: 2.75rem;
}

.gap-12 {
  gap: 3rem;
}

.gap-14 {
  gap: 3.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-2\.5 {
  gap: 0.625rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-3\.5 {
  gap: 0.875rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-7 {
  gap: 1.75rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-\[72px\] {
  gap: 72px;
}

.gap-x-10 {
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
}

.gap-x-2 {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}

.gap-x-3 {
  -moz-column-gap: 0.75rem;
  column-gap: 0.75rem;
}

.gap-x-4 {
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.gap-x-8 {
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.gap-y-1 {
  row-gap: 0.25rem;
}

.gap-y-10 {
  row-gap: 2.5rem;
}

.gap-y-2\.5 {
  row-gap: 0.625rem;
}

.gap-y-8 {
  row-gap: 2rem;
}

.space-y-0 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0px * var(--tw-space-y-reverse));
}

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.space-y-1\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.375rem * var(--tw-space-y-reverse));
}

.space-y-14 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3.5rem * var(--tw-space-y-reverse));
}

.space-y-16 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4rem * var(--tw-space-y-reverse));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-2\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-y-\[88px\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(88px * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(88px * var(--tw-space-y-reverse));
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.divide-\[\#29415C\]\/20 > :not([hidden]) ~ :not([hidden]) {
  border-color: rgb(41 65 92 / 0.2);
}

.divide-\[\#A24730\]\/20 > :not([hidden]) ~ :not([hidden]) {
  border-color: rgb(162 71 48 / 0.2);
}

.divide-\[\#C7C5BF\] > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(199 197 191 / var(--tw-divide-opacity, 1));
}

.divide-\[\#D8D7D2\] > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(216 215 210 / var(--tw-divide-opacity, 1));
}

.divide-\[\#EFEEEA\] > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(239 238 234 / var(--tw-divide-opacity, 1));
}

.self-center {
  align-self: center;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overscroll-contain {
  overscroll-behavior: contain;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.break-all {
  word-break: break-all;
}

.break-keep {
  word-break: keep-all;
}

.rounded {
  border-radius: 0.25rem;
}

.rounded-\[10px\] {
  border-radius: 10px;
}

.rounded-\[18px\] {
  border-radius: 18px;
}

.rounded-\[1px\] {
  border-radius: 1px;
}

.rounded-\[28px\] {
  border-radius: 28px;
}

.rounded-\[2px\] {
  border-radius: 2px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0px;
}

.border-2 {
  border-width: 2px;
}

.border-\[0\.5px\] {
  border-width: 0.5px;
}

.border-\[1\.5px\] {
  border-width: 1.5px;
}

.border-y {
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-b-2 {
  border-bottom-width: 2px;
}

.border-l {
  border-left-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-t-\[3px\] {
  border-top-width: 3px;
}

.border-\[\#29415C\] {
  --tw-border-opacity: 1;
  border-color: rgb(41 65 92 / var(--tw-border-opacity, 1));
}

.border-\[\#29415C\]\/25 {
  border-color: rgb(41 65 92 / 0.25);
}

.border-\[\#92928f\] {
  --tw-border-opacity: 1;
  border-color: rgb(146 146 143 / var(--tw-border-opacity, 1));
}

.border-\[\#A24730\] {
  --tw-border-opacity: 1;
  border-color: rgb(162 71 48 / var(--tw-border-opacity, 1));
}

.border-\[\#A24730\]\/25 {
  border-color: rgb(162 71 48 / 0.25);
}

.border-\[\#A24730\]\/30 {
  border-color: rgb(162 71 48 / 0.3);
}

.border-\[\#A24730\]\/40 {
  border-color: rgb(162 71 48 / 0.4);
}

.border-\[\#C7C5BF\] {
  --tw-border-opacity: 1;
  border-color: rgb(199 197 191 / var(--tw-border-opacity, 1));
}

.border-\[\#D8D7D2\] {
  --tw-border-opacity: 1;
  border-color: rgb(216 215 210 / var(--tw-border-opacity, 1));
}

.border-\[\#EDEBE6\] {
  --tw-border-opacity: 1;
  border-color: rgb(237 235 230 / var(--tw-border-opacity, 1));
}

.border-\[\#a1a19e\] {
  --tw-border-opacity: 1;
  border-color: rgb(161 161 158 / var(--tw-border-opacity, 1));
}

.border-\[\#b7b6b3\] {
  --tw-border-opacity: 1;
  border-color: rgb(183 182 179 / var(--tw-border-opacity, 1));
}

.border-\[\#cdcdca\] {
  --tw-border-opacity: 1;
  border-color: rgb(205 205 202 / var(--tw-border-opacity, 1));
}

.border-white\/10 {
  border-color: rgb(255 255 255 / 0.1);
}

.border-white\/20 {
  border-color: rgb(255 255 255 / 0.2);
}

.border-white\/25 {
  border-color: rgb(255 255 255 / 0.25);
}

.border-white\/70 {
  border-color: rgb(255 255 255 / 0.7);
}

.border-white\/\[0\.08\] {
  border-color: rgb(255 255 255 / 0.08);
}

.bg-\[\#0F1A26\]\/60 {
  background-color: rgb(15 26 38 / 0.6);
}

.bg-\[\#16283A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(22 40 58 / var(--tw-bg-opacity, 1));
}

.bg-\[\#16283A\]\/70 {
  background-color: rgb(22 40 58 / 0.7);
}

.bg-\[\#16283A\]\/95 {
  background-color: rgb(22 40 58 / 0.95);
}

.bg-\[\#1D3247\] {
  --tw-bg-opacity: 1;
  background-color: rgb(29 50 71 / var(--tw-bg-opacity, 1));
}

.bg-\[\#1E1C1A\]\/50 {
  background-color: rgb(30 28 26 / 0.5);
}

.bg-\[\#29415C\] {
  --tw-bg-opacity: 1;
  background-color: rgb(41 65 92 / var(--tw-bg-opacity, 1));
}

.bg-\[\#A24730\] {
  --tw-bg-opacity: 1;
  background-color: rgb(162 71 48 / var(--tw-bg-opacity, 1));
}

.bg-\[\#C2622B\] {
  --tw-bg-opacity: 1;
  background-color: rgb(194 98 43 / var(--tw-bg-opacity, 1));
}

.bg-\[\#D8D7D2\] {
  --tw-bg-opacity: 1;
  background-color: rgb(216 215 210 / var(--tw-bg-opacity, 1));
}

.bg-\[\#EFEDE8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(239 237 232 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F1EFE8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 239 232 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F5F3EE\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 243 238 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F5F4F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 244 240 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F7EAE5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(247 234 229 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FAECE7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 236 231 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FAF6F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 246 240 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FAF6F3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 246 243 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FAFAFA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FDFCFA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(253 252 250 / var(--tw-bg-opacity, 1));
}

.bg-current {
  background-color: currentColor;
}

.bg-transparent {
  background-color: transparent;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white\/10 {
  background-color: rgb(255 255 255 / 0.1);
}

.bg-white\/20 {
  background-color: rgb(255 255 255 / 0.2);
}

.bg-white\/5 {
  background-color: rgb(255 255 255 / 0.05);
}

.bg-white\/95 {
  background-color: rgb(255 255 255 / 0.95);
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.p-0 {
  padding: 0px;
}

.p-1\.5 {
  padding: 0.375rem;
}

.p-5 {
  padding: 1.25rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-9 {
  padding: 2.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-3\.5 {
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[108px\] {
  padding-top: 108px;
  padding-bottom: 108px;
}

.py-\[64px\] {
  padding-top: 64px;
  padding-bottom: 64px;
}

.py-\[88px\] {
  padding-top: 88px;
  padding-bottom: 88px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-14 {
  padding-bottom: 3.5rem;
}

.pb-16 {
  padding-bottom: 4rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-\[108px\] {
  padding-bottom: 108px;
}

.pb-\[5px\] {
  padding-bottom: 5px;
}

.pb-\[72px\] {
  padding-bottom: 72px;
}

.pb-\[max\(env\(safe-area-inset-bottom\)\2c 1rem\)\] {
  padding-bottom: max(env(safe-area-inset-bottom), 1rem);
}

.pl-0 {
  padding-left: 0px;
}

.pl-14 {
  padding-left: 3.5rem;
}

.pl-\[46px\] {
  padding-left: 46px;
}

.pl-\[68px\] {
  padding-left: 68px;
}

.pr-10 {
  padding-right: 2.5rem;
}

.pr-11 {
  padding-right: 2.75rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pt-0 {
  padding-top: 0px;
}

.pt-14 {
  padding-top: 3.5rem;
}

.pt-2\.5 {
  padding-top: 0.625rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-7 {
  padding-top: 1.75rem;
}

.pt-\[132px\] {
  padding-top: 132px;
}

.pt-\[18px\] {
  padding-top: 18px;
}

.pt-\[88px\] {
  padding-top: 88px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-serif {
  font-family: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

.text-\[0\.66rem\] {
  font-size: 0.66rem;
}

.text-\[0\.68rem\] {
  font-size: 0.68rem;
}

.text-\[0\.69rem\] {
  font-size: 0.69rem;
}

.text-\[0\.72rem\] {
  font-size: 0.72rem;
}

.text-\[0\.74rem\] {
  font-size: 0.74rem;
}

.text-\[0\.76rem\] {
  font-size: 0.76rem;
}

.text-\[0\.78rem\] {
  font-size: 0.78rem;
}

.text-\[0\.7rem\] {
  font-size: 0.7rem;
}

.text-\[0\.82rem\] {
  font-size: 0.82rem;
}

.text-\[0\.84rem\] {
  font-size: 0.84rem;
}

.text-\[0\.85rem\] {
  font-size: 0.85rem;
}

.text-\[0\.86rem\] {
  font-size: 0.86rem;
}

.text-\[0\.88rem\] {
  font-size: 0.88rem;
}

.text-\[0\.8rem\] {
  font-size: 0.8rem;
}

.text-\[0\.92rem\] {
  font-size: 0.92rem;
}

.text-\[0\.94rem\] {
  font-size: 0.94rem;
}

.text-\[0\.95rem\] {
  font-size: 0.95rem;
}

.text-\[0\.98rem\] {
  font-size: 0.98rem;
}

.text-\[0\.9rem\] {
  font-size: 0.9rem;
}

.text-\[1\.02rem\] {
  font-size: 1.02rem;
}

.text-\[1\.05rem\] {
  font-size: 1.05rem;
}

.text-\[1\.15rem\] {
  font-size: 1.15rem;
}

.text-\[1\.1rem\] {
  font-size: 1.1rem;
}

.text-\[1\.25rem\] {
  font-size: 1.25rem;
}

.text-\[1\.2rem\] {
  font-size: 1.2rem;
}

.text-\[1\.4rem\] {
  font-size: 1.4rem;
}

.text-\[1\.5rem\] {
  font-size: 1.5rem;
}

.text-\[1\.6rem\] {
  font-size: 1.6rem;
}

.text-\[1\.7rem\] {
  font-size: 1.7rem;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[11\.5px\] {
  font-size: 11.5px;
}

.text-\[11px\] {
  font-size: 11px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13\.5px\] {
  font-size: 13.5px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15\.5px\] {
  font-size: 15.5px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[1rem\] {
  font-size: 1rem;
}

.text-\[200px\] {
  font-size: 200px;
}

.text-\[220px\] {
  font-size: 220px;
}

.text-\[9px\] {
  font-size: 9px;
}

.text-\[clamp\(1\.2rem\2c 1\.05rem\+0\.6vw\2c 1\.4rem\)\] {
  font-size: clamp(1.2rem, 1.05rem + 0.6vw, 1.4rem);
}

.text-\[clamp\(1\.3rem\2c 1\.1rem\+0\.8vw\2c 1\.7rem\)\] {
  font-size: clamp(1.3rem, 1.1rem + 0.8vw, 1.7rem);
}

.text-\[clamp\(1\.5rem\2c 1\.2rem\+1\.1vw\2c 2\.05rem\)\] {
  font-size: clamp(1.5rem, 1.2rem + 1.1vw, 2.05rem);
}

.text-\[clamp\(1\.9rem\2c 1\.4rem\+2\.2vw\2c 2\.9rem\)\] {
  font-size: clamp(1.9rem, 1.4rem + 2.2vw, 2.9rem);
}

.text-\[clamp\(1\.9rem\2c 1\.5rem\+1\.6vw\2c 2\.6rem\)\] {
  font-size: clamp(1.9rem, 1.5rem + 1.6vw, 2.6rem);
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.leading-\[1\.5\] {
  line-height: 1.5;
}

.leading-\[1\.65\] {
  line-height: 1.65;
}

.leading-\[1\.6\] {
  line-height: 1.6;
}

.leading-\[1\.7\] {
  line-height: 1.7;
}

.leading-\[1\.85\] {
  line-height: 1.85;
}

.leading-\[1\.8\] {
  line-height: 1.8;
}

.leading-\[1\.95\] {
  line-height: 1.95;
}

.leading-\[1\.9\] {
  line-height: 1.9;
}

.leading-\[2\.1\] {
  line-height: 2.1;
}

.leading-\[2\] {
  line-height: 2;
}

.leading-none {
  line-height: 1;
}

.leading-relaxed {
  line-height: 1.625;
}

.leading-snug {
  line-height: 1.375;
}

.tracking-\[0\.01em\] {
  letter-spacing: 0.01em;
}

.tracking-\[0\.02em\] {
  letter-spacing: 0.02em;
}

.tracking-\[0\.03em\] {
  letter-spacing: 0.03em;
}

.tracking-\[0\.04em\] {
  letter-spacing: 0.04em;
}

.tracking-\[0\.05em\] {
  letter-spacing: 0.05em;
}

.tracking-\[0\.06em\] {
  letter-spacing: 0.06em;
}

.tracking-\[0\.08em\] {
  letter-spacing: 0.08em;
}

.tracking-\[0\.12em\] {
  letter-spacing: 0.12em;
}

.tracking-\[0\.14em\] {
  letter-spacing: 0.14em;
}

.tracking-\[0\.16em\] {
  letter-spacing: 0.16em;
}

.tracking-\[0\.18em\] {
  letter-spacing: 0.18em;
}

.tracking-\[0\.1em\] {
  letter-spacing: 0.1em;
}

.tracking-\[0\.22em\] {
  letter-spacing: 0.22em;
}

.tracking-\[0\.2em\] {
  letter-spacing: 0.2em;
}

.text-\[\#1E1C1A\] {
  --tw-text-opacity: 1;
  color: rgb(30 28 26 / var(--tw-text-opacity, 1));
}

.text-\[\#29415C\] {
  --tw-text-opacity: 1;
  color: rgb(41 65 92 / var(--tw-text-opacity, 1));
}

.text-\[\#444441\] {
  --tw-text-opacity: 1;
  color: rgb(68 68 65 / var(--tw-text-opacity, 1));
}

.text-\[\#55524C\] {
  --tw-text-opacity: 1;
  color: rgb(85 82 76 / var(--tw-text-opacity, 1));
}

.text-\[\#712B13\] {
  --tw-text-opacity: 1;
  color: rgb(113 43 19 / var(--tw-text-opacity, 1));
}

.text-\[\#8A8780\] {
  --tw-text-opacity: 1;
  color: rgb(138 135 128 / var(--tw-text-opacity, 1));
}

.text-\[\#8A8781\] {
  --tw-text-opacity: 1;
  color: rgb(138 135 129 / var(--tw-text-opacity, 1));
}

.text-\[\#A24730\] {
  --tw-text-opacity: 1;
  color: rgb(162 71 48 / var(--tw-text-opacity, 1));
}

.text-\[\#A8A5A0\] {
  --tw-text-opacity: 1;
  color: rgb(168 165 160 / var(--tw-text-opacity, 1));
}

.text-\[\#C7C5BF\] {
  --tw-text-opacity: 1;
  color: rgb(199 197 191 / var(--tw-text-opacity, 1));
}

.text-\[\#E8A87C\] {
  --tw-text-opacity: 1;
  color: rgb(232 168 124 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-white\/25 {
  color: rgb(255 255 255 / 0.25);
}

.text-white\/30 {
  color: rgb(255 255 255 / 0.3);
}

.text-white\/35 {
  color: rgb(255 255 255 / 0.35);
}

.text-white\/45 {
  color: rgb(255 255 255 / 0.45);
}

.text-white\/50 {
  color: rgb(255 255 255 / 0.5);
}

.text-white\/60 {
  color: rgb(255 255 255 / 0.6);
}

.text-white\/65 {
  color: rgb(255 255 255 / 0.65);
}

.text-white\/70 {
  color: rgb(255 255 255 / 0.7);
}

.text-white\/85 {
  color: rgb(255 255 255 / 0.85);
}

.text-white\/\[0\.03\] {
  color: rgb(255 255 255 / 0.03);
}

.text-white\/\[0\.05\] {
  color: rgb(255 255 255 / 0.05);
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-95 {
  opacity: 0.95;
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale)
    var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-\[2px\] {
  --tw-backdrop-blur: blur(2px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
    var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
    var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.backdrop-blur-sm {
  --tw-backdrop-blur: blur(4px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
    var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow,
    transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[opacity\2c transform\] {
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-shadow {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200 {
  transition-duration: 200ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.duration-\[450ms\] {
  transition-duration: 450ms;
}

.ease-out {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.\[animation-delay\:0\.15s\] {
  animation-delay: 0.15s;
}

.\[animation-delay\:0\.3s\] {
  animation-delay: 0.3s;
}

.\[text-shadow\:0_2px_10px_rgba\(0\2c 0\2c 0\2c \.35\)\] {
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.35);
}

.placeholder\:text-\[\#8A8781\]::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(138 135 129 / var(--tw-text-opacity, 1));
}

.placeholder\:text-\[\#8A8781\]::placeholder {
  --tw-text-opacity: 1;
  color: rgb(138 135 129 / var(--tw-text-opacity, 1));
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:left-0::before {
  content: var(--tw-content);
  left: 0px;
}

.before\:right-0::before {
  content: var(--tw-content);
  right: 0px;
}

.before\:top-0::before {
  content: var(--tw-content);
  top: 0px;
}

.before\:h-px::before {
  content: var(--tw-content);
  height: 1px;
}

.before\:bg-\[\#D8D7D2\]::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(216 215 210 / var(--tw-bg-opacity, 1));
}

.before\:content-\[\'\'\]::before {
  --tw-content: '';
  content: var(--tw-content);
}

.after\:absolute::after {
  content: var(--tw-content);
  position: absolute;
}

.after\:-top-px::after {
  content: var(--tw-content);
  top: -1px;
}

.after\:left-1\/2::after {
  content: var(--tw-content);
  left: 50%;
}

.after\:h-\[3px\]::after {
  content: var(--tw-content);
  height: 3px;
}

.after\:w-11::after {
  content: var(--tw-content);
  width: 2.75rem;
}

.after\:-translate-x-1\/2::after {
  content: var(--tw-content);
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.after\:bg-\[\#A24730\]::after {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(162 71 48 / var(--tw-bg-opacity, 1));
}

.after\:content-\[\'\'\]::after {
  --tw-content: '';
  content: var(--tw-content);
}

.first\:border-t-0:first-child {
  border-top-width: 0px;
}

.first\:pt-0:first-child {
  padding-top: 0px;
}

.last\:mb-0:last-child {
  margin-bottom: 0px;
}

.last\:border-0:last-child {
  border-width: 0px;
}

.hover\:border-\[\#7E3623\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(126 54 35 / var(--tw-border-opacity, 1));
}

.hover\:border-\[\#8A3B27\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(138 59 39 / var(--tw-border-opacity, 1));
}

.hover\:border-\[\#A24730\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(162 71 48 / var(--tw-border-opacity, 1));
}

.hover\:bg-\[\#16283A\]\/90:hover {
  background-color: rgb(22 40 58 / 0.9);
}

.hover\:bg-\[\#8A3B27\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(138 59 39 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#A24730\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(162 71 48 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#A8531F\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(168 83 31 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#F0EFEA\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(240 239 234 / var(--tw-bg-opacity, 1));
}

.hover\:bg-\[\#F7EAE5\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(247 234 229 / var(--tw-bg-opacity, 1));
}

.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.hover\:bg-white\/10:hover {
  background-color: rgb(255 255 255 / 0.1);
}

.hover\:bg-white\/5:hover {
  background-color: rgb(255 255 255 / 0.05);
}

.hover\:text-\[\#1E1C1A\]:hover {
  --tw-text-opacity: 1;
  color: rgb(30 28 26 / var(--tw-text-opacity, 1));
}

.hover\:text-\[\#7E3623\]:hover {
  --tw-text-opacity: 1;
  color: rgb(126 54 35 / var(--tw-text-opacity, 1));
}

.hover\:text-\[\#A24730\]:hover {
  --tw-text-opacity: 1;
  color: rgb(162 71 48 / var(--tw-text-opacity, 1));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.hover\:opacity-100:hover {
  opacity: 1;
}

.hover\:shadow-\[0_4px_16px_rgba\(30\2c 28\2c 26\2c 0\.06\)\]:hover {
  --tw-shadow: 0 4px 16px rgba(30, 28, 26, 0.06);
  --tw-shadow-colored: 0 4px 16px var(--tw-shadow-color);
  box-shadow:
    var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.active\:text-\[\#E8A87C\]:active {
  --tw-text-opacity: 1;
  color: rgb(232 168 124 / var(--tw-text-opacity, 1));
}

.group[open] .group-open\:rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.group\/link:hover .group-hover\/link\:-translate-y-0\.5 {
  --tw-translate-y: -0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.group\/link:hover .group-hover\/link\:translate-x-0\.5 {
  --tw-translate-x: 0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:-translate-y-0\.5 {
  --tw-translate-y: -0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:translate-x-0\.5 {
  --tw-translate-x: 0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:translate-x-1 {
  --tw-translate-x: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:-rotate-3 {
  --tw-rotate: -3deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-100 {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:scale-\[1\.08\] {
  --tw-scale-x: 1.08;
  --tw-scale-y: 1.08;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:cursor-pointer {
  cursor: pointer;
}

.group:hover .group-hover\:border-\[\#A24730\] {
  --tw-border-opacity: 1;
  border-color: rgb(162 71 48 / var(--tw-border-opacity, 1));
}

.group:hover .group-hover\:text-\[\#29415C\] {
  --tw-text-opacity: 1;
  color: rgb(41 65 92 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:text-\[\#A24730\] {
  --tw-text-opacity: 1;
  color: rgb(162 71 48 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:text-\[\#E8A87C\] {
  --tw-text-opacity: 1;
  color: rgb(232 168 124 / var(--tw-text-opacity, 1));
}

@media (max-width: 760px) {
  .max-\[760px\]\:h-\[84vh\] {
    height: 84vh;
  }

  .max-\[760px\]\:max-w-none {
    max-width: none;
  }

  .max-\[760px\]\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .max-\[760px\]\:px-\[22px\] {
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media (min-width: 640px) {
  .sm\:block {
    display: block;
  }

  .sm\:flex {
    display: flex;
  }

  .sm\:hidden {
    display: none;
  }

  .sm\:aspect-auto {
    aspect-ratio: auto;
  }

  .sm\:h-auto {
    height: auto;
  }

  .sm\:max-h-\[54vh\] {
    max-height: 54vh;
  }

  .sm\:max-h-\[80vh\] {
    max-height: 80vh;
  }

  .sm\:w-24 {
    width: 6rem;
  }

  .sm\:w-\[180px\] {
    width: 180px;
  }

  .sm\:w-auto {
    width: auto;
  }

  .sm\:w-full {
    width: 100%;
  }

  .sm\:max-w-\[400px\] {
    max-width: 400px;
  }

  .sm\:max-w-\[640px\] {
    max-width: 640px;
  }

  .sm\:flex-1 {
    flex: 1 1 0%;
  }

  .sm\:flex-none {
    flex: none;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .sm\:flex-row {
    flex-direction: row;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:items-baseline {
    align-items: baseline;
  }

  .sm\:justify-center {
    justify-content: center;
  }

  .sm\:justify-between {
    justify-content: space-between;
  }

  .sm\:gap-2 {
    gap: 0.5rem;
  }

  .sm\:gap-8 {
    gap: 2rem;
  }

  .sm\:rounded-\[2px\] {
    border-radius: 2px;
  }

  .sm\:border {
    border-width: 1px;
  }

  .sm\:border-\[\#D8D7D2\] {
    --tw-border-opacity: 1;
    border-color: rgb(216 215 210 / var(--tw-border-opacity, 1));
  }

  .sm\:px-14 {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  .sm\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:px-7 {
    padding-left: 1.75rem;
    padding-right: 1.75rem;
  }

  .sm\:py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .sm\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .sm\:pb-0 {
    padding-bottom: 0px;
  }

  .sm\:pt-\[10vh\] {
    padding-top: 10vh;
  }

  .sm\:text-right {
    text-align: right;
  }

  .sm\:text-\[13\.5px\] {
    font-size: 13.5px;
  }

  .sm\:text-\[17px\] {
    font-size: 17px;
  }

  .sm\:text-\[19px\] {
    font-size: 19px;
  }

  .sm\:shadow-\[0_20px_60px_rgba\(30\2c 28\2c 26\2c 0\.18\)\] {
    --tw-shadow: 0 20px 60px rgba(30, 28, 26, 0.18);
    --tw-shadow-colored: 0 20px 60px var(--tw-shadow-color);
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (min-width: 761px) {
  .min-\[761px\]\:col-start-1 {
    grid-column-start: 1;
  }

  .min-\[761px\]\:col-start-2 {
    grid-column-start: 2;
  }

  .min-\[761px\]\:row-span-2 {
    grid-row: span 2 / span 2;
  }

  .min-\[761px\]\:row-start-1 {
    grid-row-start: 1;
  }

  .min-\[761px\]\:row-start-2 {
    grid-row-start: 2;
  }

  .min-\[761px\]\:auto-rows-\[180px\] {
    grid-auto-rows: 180px;
  }

  .min-\[761px\]\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .lg\:-right-4 {
    right: -1rem;
  }

  .lg\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .lg\:col-span-7 {
    grid-column: span 7 / span 7;
  }

  .lg\:col-span-8 {
    grid-column: span 8 / span 8;
  }

  .lg\:col-start-1 {
    grid-column-start: 1;
  }

  .lg\:col-start-6 {
    grid-column-start: 6;
  }

  .lg\:mt-1 {
    margin-top: 0.25rem;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:hidden {
    display: none;
  }

  .lg\:aspect-auto {
    aspect-ratio: auto;
  }

  .lg\:h-\[17px\] {
    height: 17px;
  }

  .lg\:h-\[38px\] {
    height: 38px;
  }

  .lg\:h-\[420px\] {
    height: 420px;
  }

  .lg\:h-\[460px\] {
    height: 460px;
  }

  .lg\:w-\[170px\] {
    width: 170px;
  }

  .lg\:w-\[17px\] {
    width: 17px;
  }

  .lg\:w-\[38px\] {
    width: 38px;
  }

  .lg\:max-w-\[460px\] {
    max-width: 460px;
  }

  .lg\:auto-rows-\[230px\] {
    grid-auto-rows: 230px;
  }

  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg\:grid-cols-\[1\.1fr_1\.4fr\] {
    grid-template-columns: 1.1fr 1.4fr;
  }

  .lg\:grid-cols-\[1\.2fr_1fr\] {
    grid-template-columns: 1.2fr 1fr;
  }

  .lg\:grid-cols-\[1\.3fr_1fr\] {
    grid-template-columns: 1.3fr 1fr;
  }

  .lg\:grid-cols-\[1\.6fr_0\.9fr_0\.9fr_0\.9fr\] {
    grid-template-columns: 1.6fr 0.9fr 0.9fr 0.9fr;
  }

  .lg\:grid-cols-\[1fr_1\.3fr\] {
    grid-template-columns: 1fr 1.3fr;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:items-center {
    align-items: center;
  }

  .lg\:justify-start {
    justify-content: flex-start;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:gap-10 {
    gap: 2.5rem;
  }

  .lg\:gap-14 {
    gap: 3.5rem;
  }

  .lg\:gap-16 {
    gap: 4rem;
  }

  .lg\:gap-20 {
    gap: 5rem;
  }

  .lg\:gap-3 {
    gap: 0.75rem;
  }

  .lg\:space-y-20 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(5rem * var(--tw-space-y-reverse));
  }

  .lg\:space-y-\[108px\] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(108px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(108px * var(--tw-space-y-reverse));
  }

  .lg\:divide-x > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-right-width: calc(1px * var(--tw-divide-x-reverse));
    border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
  }

  .lg\:divide-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-y-reverse: 0;
    border-top-width: calc(0px * calc(1 - var(--tw-divide-y-reverse)));
    border-bottom-width: calc(0px * var(--tw-divide-y-reverse));
  }

  .lg\:divide-\[\#C7C5BF\] > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-opacity: 1;
    border-color: rgb(199 197 191 / var(--tw-divide-opacity, 1));
  }

  .lg\:p-11 {
    padding: 2.75rem;
  }

  .lg\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .lg\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .lg\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .lg\:px-9 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }

  .lg\:py-9 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .lg\:py-\[108px\] {
    padding-top: 108px;
    padding-bottom: 108px;
  }

  .lg\:py-\[18px\] {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .lg\:py-\[80px\] {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }

  .lg\:pb-\[68px\] {
    padding-bottom: 68px;
  }

  .lg\:pl-14 {
    padding-left: 3.5rem;
  }

  .lg\:pl-\[50px\] {
    padding-left: 50px;
  }

  .lg\:pr-14 {
    padding-right: 3.5rem;
  }

  .lg\:pr-40 {
    padding-right: 10rem;
  }

  .lg\:pt-0 {
    padding-top: 0px;
  }

  .lg\:pt-3 {
    padding-top: 0.75rem;
  }

  .lg\:pt-9 {
    padding-top: 2.25rem;
  }

  .lg\:pt-\[136px\] {
    padding-top: 136px;
  }

  .lg\:text-\[0\.72rem\] {
    font-size: 0.72rem;
  }

  .lg\:text-\[0\.81rem\] {
    font-size: 0.81rem;
  }

  .lg\:text-\[1\.7rem\] {
    font-size: 1.7rem;
  }

  .lg\:text-\[1\.9rem\] {
    font-size: 1.9rem;
  }

  .lg\:text-\[1rem\] {
    font-size: 1rem;
  }

  .lg\:text-\[300px\] {
    font-size: 300px;
  }

  .lg\:leading-\[1\.7\] {
    line-height: 1.7;
  }
}

.\[\&\:\:-webkit-details-marker\]\:hidden::-webkit-details-marker {
  display: none;
}

.\[\&\:\:marker\]\:content-none::marker {
  --tw-content: none;
  content: var(--tw-content);
}
